/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap');


:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(0, 0%, 90%);
    --container-color: hsl(207, 4%, 95%);
  
    /* Change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
    --gradient-color: linear-gradient(180deg,
                        hsla(207, 48%, 72%, 0),
                        hsla(207, 65%, 65%, 1));
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  h1,h2,h3{
    color: var(--title-color);
    font-family: var(--title-font);
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;

  }
  img{
    max-width: 100%;
    height: auto;
  }

  .container{
    max-width: 1024px;
    margin-inline: 1.5rem;
  }
  .grid{
    display: grid;
    gap: 1.5rem;
  }
  .section{
    padding-block: 2.5rem;
  }
  .section__border{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
  }
  .section__title, .section__subtitle{
    text-align: center;
  }
  .section__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
  }
  .section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 3rem;
  }
  .main{
    overflow: hidden;
  }

  /****************************************** Header and Nav start *******************************************/
  .header{
    width: 100%;
    position: fixed;
    bottom: 2rem;
    left: 0;
    z-index: var(--z-fixed);
  }
  .nav{
    height: calc(var(--header-height) + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding-inline: 1.5rem;
    border-radius: 3rem;
  }
  .nav__logo, .nav__toggle, .nav__close{
    color: var(--title-color);
  }
  .nav__logo{
    font-family: var(--title-font);
    font-weight: var(--font-medium);
  }
  .nav__toggle{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .nav__list{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 2rem 3rem;
  }
  .nav__link i{
    font-size: 1.25rem;
  }
  .nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: color .3s;
  }
  .nav__link:hover{
    color: var(--title-color);
  }
  .nav__close{
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    .nav__menu{
        position: fixed;
        width: 88%;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
        padding: 2rem 1.5rem 5rem;
        border-radius: 2rem;
        transition: bottom  .3s;
    }
  }
  /***************** Show Menu *******************/
  .show-menu{
    bottom: 2rem;
  } 

  /****************************************** Header and Nav end *******************************************/

  /****************************************** Home section start *******************************************/
  .home__container{
    row-gap:4rem;
    padding-top: 2rem;
  }
  .home__data{
    row-gap:1.5rem;
  }
  .home__title{
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: 0.3px;
    margin-bottom: 0.5rem;
  }
  .home__blob{
    position: relative;
    width: 300px;
    height: 300px;
    justify-self: center;
  }
  .home__profile{
    width: 300;
    height: 350px;
  }
.home__social{
    font-size: var(--biggest-font-size);
    margin-top: 90px;
    display: flex;
    justify-self: center;
    column-gap: 1.25rem;
}
.home__social-link{
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color .3s;
}
.home__social-link:hover{
    color: var(--title-color);
}
.home__info{
    display: grid;
    row-gap: 2rem;
}
.home__info-title{
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: var(--text-color-light);
    margin-bottom: 1rem;
}
.home__info-description, .home__info-number{
    font-family: var(--title-font);
    color: var(--title-color);
}

.home__info-description{
    padding-right: 4rem;
}
.home__info-number{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}
/****************************************** Home section end *******************************************/

/****************************************** Skills section start *******************************************/
.skills__container{
    row-gap: 3.5rem;
}
.skills__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 30px;
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}
.skills__title i{
    font-size: 3rem;
    font-weight: initial;
}

.skills__info,.skills__data,.skills_blob{
    display: grid;
}
.skills__info{
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem 2rem;

}
.skills__data{
    justify-content: center;
    text-align: center;
}
.skills__blob{
    width: 80px;
    height: 100px;
    /* background-color: var(--container-color);
    border-radius: 3rem;
    place-items: center; */
    margin-bottom: 1rem;
}
.skills__blob img{
    width: 400px;
}
.skills__name{
    font-size: var(--smaller-font-size);
    margin-bottom: .25rem;
}
.skills__subtile{
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
}
/*********************** Animations ***************************/
.skills__blob:hover img{
    animation: bounce-skills .6s;
}
@keyframes bounce-skills{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translate(0px);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0px);
    }
}
/****************************************** Skills section end *******************************************/

/****************************************** Qualification section start *******************************************/
.qualification{
    position: relative;
}
.qualification__container{
    row-gap: 3.5rem;
}
.qualification__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;
}
.qualification__title i{
    font-size: 1rem;
    font-weight: initial;
}
.qualification__info{
    display: grid;
    row-gap: 2rem;
}
.qualification__name{
    font-size: var(--normal-font-size);
    margin-bottom: 1.25rem;
}
.qualification__country, .qualification__year{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light)
}
.qualification__country{
    margin-bottom: 0.75rem;

}
/****************************************** Qualification section end *******************************************/

/****************************************** Services section start *******************************************/
.services__container{
    row-gap: 5.5rem;
    justify-content:center ;


}
.services__card{
    position: relative;
    width: 410px;
    height: 370px;
    background-color: var(--container-color);
    text-align: center;
    padding: 3.5rem 1rem;
    border-radius: 7.25rem;
}
.services__card i{
    display:block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: 0.75rem;
    transition: transform 0.8s;
}
.services__title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
}

.services__border{
    width: 450px;
    height: 410px;
    border: 1.8px solid var(--text-color-light);
    border-radius: 7.75rem;
    position: absolute;
    inset: 0;
    left: -20px;
    margin: auto;
    z-index: var(--h1-font-size);
    transition: opacity .6s;
    opacity: 0;
}
.services__card:hover i{
    transform: rotateY(360deg)
}
.services__border:hover{
    opacity: 1;
}
/****************************************** Services section end *******************************************/

/****************************************** Services section start *******************************************/
/****************************************** Services section end *******************************************/

/****************************************** Services section start *******************************************/
/****************************************** Services section end *******************************************/

/****************************************** Services section start *******************************************/
/****************************************** Services section end *******************************************/
